---
export interface Props {
  label: string;
  class?: string;
  secondary?: boolean;
}

const { label, secondary, class: className } = Astro.props;

const bgColor = secondary ? "bg-secondary" : "bg-primary";
const animationClasses = "opacity-100 hover:opacity-[0.85] active:opacity-100";
const classNames = `${className} ${bgColor} ${animationClasses} btn text-white text-center min-w-max `;
---

<div class={classNames}>
  {label}
</div>

<style>
  .btn {
    /* background-color: rgba(18, 31, 75, 1); */
    color: white;
    cursor: pointer;
    transition: 0.4s ease-out;
  }

  .btn:hover {
    /* background-color: rgba(18, 31, 75, 0.85); */
  }

  .btn:active {
    /* background-color: rgba(18, 31, 75, 1); */
  }
</style>
