---
---

<input type="checkbox" id="switch" name="toggle-switch" />
<label for="switch">
  Language Selector
  <div class="handler">
    <!-- <span class="fi fi-gb flag text-3xl"></span>
    <span class="fi fis fi-mm flag hidden text-xl"></span> -->
  </div>
</label>

<script>
  //Language codes
  const myanmarLanguageCode = "my";
  const englishLanguageCode = "en";

  //The checkbox element
  const checkbox = document.querySelector(
    "input[name=toggle-switch]"
  ) as HTMLInputElement;
  //M

  //Initialising the selected language during new page load
  const initialiseLanguage = () => {
    const { language, ...returns } = processCurrentURL();

    if (language == englishLanguageCode) {
      checkbox.checked = false;
    } else {
      checkbox.checked = true;
    }
  };
  initialiseLanguage();

  const handleToggle = () => {
    const { domain, route, language } = processCurrentURL();

    if (checkbox.checked) {
      //When user changes to myanmar language
      if (!(language == myanmarLanguageCode)) {
        /*
      First check if the route is already in myanmar language
      If it is in myanmar language, nothing is done

      If the route is not already in myanmar language,
      change it to the new url with myanmar language.
    */

        //Adding in buffer time to allow smooth transition
        setTimeout(() => {
          location.assign(`${domain}/${myanmarLanguageCode}${route}`); //Changing the route
        }, 250);
      }
    } else {
      //When user changes to english language

      /*
      First check if the route is already not in myanmar language
      If it is not in myanmar language, nothing is done

      If the route is in myanmar language,
      change it to the new url with english language.
  */

      if (!(language == englishLanguageCode)) {
        //Eg: https://localhost:3000/my/about-us
        const languageCodeIndex = route.indexOf(myanmarLanguageCode);
        const newRoute = route.slice(
          languageCodeIndex + myanmarLanguageCode.length
        ); //   /about-us

        //Adding in buffer time to allow smooth transition
        setTimeout(() => {
          location.assign(`${domain}${newRoute}`); //Changing the route
        }, 250);
      }
    }
  };

  //Adding in the function that handle toggles
  checkbox.addEventListener("change", handleToggle);

  //Helper function that process the current page url
  /*
    It seperates the url [https://localhost:3000/about-us] back into 3 chunks -
    - domain [https://localhost:3000]
    - route [/about-us]
    - language [en]
  */
  function processCurrentURL() {
    const currentURL = window.location.href;

    //Eg: https://localhost:3000/about-us
    //Start index should be the third '/'
    const startIndex = nthIndexOf(currentURL, "/", 3);

    const domain = currentURL.slice(0, startIndex); //   https://localhost:3000
    const route = currentURL.slice(startIndex); //   /about-us

    return {
      domain: domain,
      route: route,
      language: route.startsWith(`/${myanmarLanguageCode}`)
        ? myanmarLanguageCode
        : englishLanguageCode,
    };
  }

  //Helper function that returns the nth term inside a string
  function nthIndexOf(str: string, pat: string, n: number) {
    var L = str.length,
      i = -1;
    while (n-- && i++ < L) {
      i = str.indexOf(pat, i);
      if (i < 0) break;
    }
    return i;
  }
</script>

<style>
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: #d7e3e3;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  input:checked + label {
    background: #fcebeb;
  }

  /* label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 80px;
  } */

  .handler {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    /* background: #03a9f4; */
    /* background-image: url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/flags/1x1/gb.svg"); */
    background-image: url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/flags/1x1/gb.svg");
    background-repeat: no-repeat;
    background-color: #03a9f4;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input:checked + label .handler {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: #f44336;
    background-image: url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/flags/1x1/mm.svg");
  }

  input:active + label .handler {
    /* width: 50px; */
  }
</style>
