---
import Link from "./Link.astro";

export interface Props {
  label: string;
  class?: string;
  secondary?: boolean;
  outlined?: boolean;
  textColor?: string;
  href?: string;
}

const {
  label,
  secondary,
  outlined,
  textColor,
  class: className,
  href,
} = Astro.props;

const bgColor = secondary ? "bg-secondary" : "bg-primary";
const animationClasses = "opacity-100 hover:opacity-[0.85] active:opacity-100";

var border = "";
if (outlined) {
  border = `border-2 border-${textColor ?? "transparent"}`;
}

const text = `text-${textColor ?? "white"}`;
const classNames = `${className} ${bgColor} ${text} ${border} ${animationClasses} btn text-center min-w-max `;
---

{
  href ? (
    <Link href={href} isButton>
      <div class={classNames}>{label}</div>
    </Link>
  ) : (
    <div class={classNames}>{label}</div>
  )
}

<style>
  .btn {
    cursor: pointer;
    transition: 0.4s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
</style>
