---
import { localizeUrl, localizePath } from "astro-i18next";

export interface Props {
  href: string;
  target?: "_blank" | "_parent" | "_self" | "_top";
  color?: string;
  class?: string;
  isButton?: boolean; //Prop to check if child is the Button component [src/components/Common/Button.astro]
}

const {
  href,
  target: targetProp,
  color,
  class: className,
  isButton,
} = Astro.props;

//Setting the target
const target = targetProp ?? "";

//Setting the text color as blue link color or secondary dark orange color
const textColor = `${color ?? "blue-700"}`;

//Setting the href link value
/*
  If href is a local path, the current site domain is appended in front
*/
var link = "";
if (href.startsWith("http")) {
  link = localizeUrl(href);
} else {
  //link = localizeUrl(`${Astro.site?.origin}${href}`);
  link = localizePath(`${href}`);
}

//Setting up classes
//If the child is button, then, there will be no classes applied
const classNames = isButton
  ? ""
  : `${textColor} ${className} no-underline hover:underline active:brightness-75`;
---

<a href={link} target={target} class={classNames}>
  <slot />
</a>
