---
import { t } from "i18next";

import Image from "@components/Common/Image.astro";
import image1 from "@assets/our-team/syr-myo-2.png";
import image2 from "@assets/our-team/syr-myo-2.png";
import image3 from "@assets/our-team/syr-myo-2.png";
import image4 from "@assets/our-team/syr-myo-2.png";
import image5 from "@assets/our-team/syr-myo-2.png";
import image6 from "@assets/our-team/syr-myo-2.png";

const images = [
  {
    className: "img1",
    alt: "",
    data: image1,
  },
  {
    className: "img2",
    alt: "",
    data: image2,
  },
  {
    className: "img3",
    alt: "",
    data: image3,
  },
  {
    className: "img4",
    alt: "",
    data: image4,
  },
  {
    className: "img5",
    alt: "",
    data: image5,
  },
  {
    className: "img6",
    alt: "",
    data: image6,
  },
];
---

<div class="mb-20 md:mx-12 md:mb-40">
  <h3 class="mb-8 mt-12 text-center text-4xl md:mb-16 md:text-6xl">
    {t("our-team:memories.title")}
  </h3>
  <div class="md:px-16">
    <!-- For Desktop/Tablets, show the mosaic -->
    <div class="hidden grid-cols-6 md:grid">
      {
        images.map((image, index) => (
          <div class={image.className}>
            <Image
              class={index % 2 == 0 ? "rotate-[-20deg]" : "rotate-[20deg]"}
              src={image.data}
              alt={image.alt}
              width={200}
            />
          </div>
        ))
      }
    </div>
    <!-- For mobile phones, show list of images -->
    <div class="flex flex-col items-center gap-6 md:hidden">
      {
        images.map((image, index) => (
          <div class={image.className}>
            <Image src={image.data} alt={image.alt} width={300} />
          </div>
        ))
      }
    </div>
  </div>
</div>
